#main {
  display: grid;
  grid: "gutter-left main gutter-right" 1fr / auto minmax(auto, 1200px) auto;
  & > div {
    display: contents;
  }
}
.d-header > .wrap {
  max-width: inherit;
  width: inherit;
}

#main-outlet {
  grid-area: main;
  max-width: initial;

  .topic-body,
  .small-action {
    width: initial;
    max-width: initial;
    float: none;
  }
}

.container.posts {
  display: grid;
  grid: "posts timeline" 1fr / 1fr 250px;
  .row {
    grid-area: posts;
  }
  .timeline-container {
    grid-area: timeline;
    margin: 0;
    position: initial;
  }
  & .ember-view {
    display: contents;
  }
}

.topic-post article {
  border-top: 1px solid #e9e9e9;
  display: grid;
  grid:
    "avatar names post-infos" auto
    "cooked cooked cooked" auto
    "post-menu post-menu post-menu" auto
    "topic-map topic-map topic-map" auto
    / auto 1fr auto;
  .row,
  .topic-body,
  .topic-meta-data,
  .contents {
    display: contents;
  }
  .topic-avatar {
    grid-area: avatar;
  }
  .names {
    grid-area: names;
  }
  .post-infos {
    grid-area: post-infos;
  }
  .cooked {
    grid-area: cooked;
  }
  .post-actions {
    grid-area: post-actions;
  }
  .topic-map {
    grid-area: topic-map;
  }
  .post-menu-area {
    grid-area: post-menu;
  }
}
